@import './base_sass/constants';
@import './base_sass/mixins';

.app {

  &__wrapper {
    background-color: $light;
    @include flex();
    margin: 40px auto;
    max-width: 70vw;
    height: calc(100vh - 120px);
    padding: 20px;
  }

  &__header {
    @include font($size: 4rem, $weight: 600);
  }
}

