@import '../../layout/abstract/config';

.form {
  @include flex();
  width: 100%;
  background-color: $grey;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}

.form form {
  @include flex($align: flex-start);
  width: 100%;
}
