@import 'base-layout/base/base';

.app {
  @include flex();
  max-width: 60%;
  background-color: $dark;
  border-radius: 5px;
  margin: 0 auto;
}

.app h1 {
  @include font($size: 4rem, $weight: 800);
  margin: 70px 0 20px 0;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


