@import '../../../layout/abstract/config';

.input {
  margin: 0 0 10px 0;
  width: 100%;
  text-align: left;
}

.input label {
  @include font($size: 1.6rem, $weight: 400, $align: left);
  text-transform: capitalize;
  margin-bottom: 3px;
  padding: 0;
  display: block;
}

.input input {
  display: block;
  box-sizing: border-box;
  border: 1px solid $super-light-grey;
  width: 100%;
  padding: 5px;
  margin: 0 0 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.input span {
  color: $pink;
  @include font($size: 1.5rem, $weight: 300, $align: left);
}

.input.invalid label {
  color: $pink;
}

input[type='checkbox'] {
  max-width: 15px;
}
