@import '../../../layout/abstract/config';

.button {
  @include font($size: 1.5rem, $weight: 500);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: $light;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:focus {
  outline: none;
}

.button:active {
  box-shadow: inset 2px 2px 1px rgba(255, 255, 255, .7);
}

.button:disabled {
  @extend %grey-gradient;
  color: $dark;
  cursor: not-allowed;
}

.female {
  @extend %orange-pink-gradient;
  color: $light;
}

.male {
  @extend %green-blue-gradient;
  color: $light;
}

.primary {
  background-color: $blue;
  color: $light;
}
