%green-blue-gradient {
  background-image: linear-gradient(to right, #bbe794, #8fdc9e, #65d0aa, #3ec1b4, #1db1ba);
}

%orange-pink-gradient {
  background-image: linear-gradient(to right, #ffa459, #ff9255, #ff7e55, #ff6958, #fd535e);
}

%grey-gradient {
  background-image: linear-gradient(to right, #f9f9f9, #ecedee, #dde1e4, #ced5d9, #bfcacc);
}
